body {
  margin: 0;
  background-color: #fff9ef;
  font-family: Arial, sans-serif;
}

input {
  border: none;
}

h1,
p {
  margin: 0;
}

header {
  padding: 10px 20px;
  background-color: #ff9447;
  color: #ffffff;
}

main {
  padding: 100px 0;
}

.title {
  font-size: 30px;
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 8vw;
  }
}

.ingredient-wrap, .ingredient-wrap-02 {
  position: relative;
  width: 500px;
  margin: 0 auto;
  padding: 50px 30px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .ingredient-wrap, .ingredient-wrap-02 {
    width: 80vw;
    padding: 6.6666666667vw 4vw;
  }
}
.ingredient-wrap-02 .text {
  position: absolute;
  top: -50px;
  left: 0;
  padding: 5px 30px;
  border-radius: 50px;
  background-color: #ff9447;
  color: #ffffff;
  font-size: 16px;
}
@media only screen and (max-width: 600px) {
  .ingredient-wrap-02 .text {
    font-size: 3.7333333333vw;
  }
}
.ingredient-wrap-02 .text:before {
  position: absolute;
  top: 100%;
  left: 20%;
  border: 5px solid transparent;
  border-top: 8px solid #ff9447;
  content: "";
}

.ingredient-item {
  display: grid;
  justify-content: space-between;
  position: relative;
  padding: 10px 0;
  border-bottom: solid 1px #66451f;
  grid-template-columns: auto auto auto;
}
@media only screen and (max-width: 600px) {
  .ingredient-item input {
    max-width: 33.3333333333vw;
  }
}

.tape {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
  width: 150px;
  height: 30px;
  background: repeating-linear-gradient(-45deg, #cdf9ff, #cdf9ff 10px, #ffffff 0, #ffffff 20px);
  color: #66451f;
}
@media only screen and (max-width: 600px) {
  .tape {
    width: 26.6666666667vw;
    height: 5.3333333333vw;
  }
}

.tape2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
  width: 150px;
  height: 30px;
  background-image: radial-gradient(#ffcdf4 30%, transparent 30%), radial-gradient(#ffcdf4 30%, transparent 30%);
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
  background-repeat: repeat;
  background-color: white;
}
@media only screen and (max-width: 600px) {
  .tape2 {
    width: 26.6666666667vw;
    height: 5.3333333333vw;
  }
}

.delete {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #e7e7e7;
  cursor: pointer;
}
.delete span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 1px;
  background-color: #66451f;
}
.delete span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}
.delete span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.addBtn {
  display: block;
  width: 300px;
  margin: 30px auto 0;
  padding: 5px;
  border: none;
  background-color: #e7e7e7;
  color: #66451f;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .addBtn {
    width: 40vw;
  }
}

.people {
  margin: 50px 0 80px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .people {
    margin: 6.6666666667vw 0 20vw;
  }
}
.people input {
  width: 30px;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */